# General
*.zip
xcuserdata/
.DS_Store
node_modules2/
*.logcat
cordova-plugin-whitelist
cordova-plugin-x-toast
*.class

# Platforms - Android
tests/platforms/android/CordovaLib/build/
tests/platforms/android/app/bin/
tests/platforms/android/.gradle/

# Platforms - iOS
tests/platforms/ios/www/index.html
tests/platforms/ios/build/
tests/platforms/ios/Index
tests/platforms/ios/info.plist